{% extends "layout.html" %}
{% block title %}
Key value
{% endblock %}
{% block body %}
    <h1>Add key and value</h1>
    <form method="POST" action="/add" style="height: 100px">
        <input type="text" name="key" placeholder="Enter Key">
        <input type="text" name="value" placeholder="Enter value">
        <input type="submit" value="Add">
    </form>

    <h1>All Your Key Values</h1>
    {% for k in kv %}
      <input type="" name="" value="{{k.key}}"><input type="" name="" value="{{k.value}}"><br>
    {% endfor %}
{% endblock %}
